# Django settings for backend project.
DEBUG=True
TESTING=True
SECRET_KEY=django-insecure-+f)=^dlyzb^xv&3z=ojbd-))^0ml_6c2dz_2b6tez8nkxw=wh6
ALLOWED_HOSTS=*
LANGUAGE_CODE=pt-br
TIME_ZONE=America/Sao_Paulo
# diretorios
LOG_ROOT=/vol/web/logs
MEDIA_ROOT=/vol/web/media


# Ajustes JWT opcionais Restframework Simple JWT
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=1

# Banco de Dados
POSTGRES_DB=backend
POSTGRES_USER=admin
POSTGRES_PASSWORD=adbc31234
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Cors
CORS_ALLOWED_ORIGINS=http://localhost:8080
