# Django settings for backend project.
DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=*
LANGUAGE_CODE=pt-br
TIME_ZONE=America/Sao_Paulo
# diretorios
LOG_ROOT=
MEDIA_ROOT=

# Superuser Django
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

# Ajustes JWT opcionais Restframework Simple JWT
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=1

# Banco de Dados
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=








